body {
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 650px;
    border-radius: 5px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
}

.card .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    margin-bottom: 30px;
}

.card .information h1{
    font-size: 30px;
    font-weight: 700;
}

.card .information h2{
    font-size: 16px;
    font-weight: 800;
    color: hsl(75, 94%, 57%);
}

.card .information img {
    border-radius: 50%;
    width: 60%;
}

.card p {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0 10px 0;
}

.card .social-links .redes {
    display: flex;
}

.card .social-links .redes a {
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    color: white;
    margin: 8px;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid black;
    width: 350px;
    height: 45px;
} 

.card .social-links .redes a:hover{
    background-color: hsl(75, 94%, 57%);
    color: #000;
}